/* !! Code for an image animation: slide in, full width, shrink to half screen width, have text companion appear on other half. */

.header__imagecontainer {
  display: flex;

  height: 100%;
  /* -webkit-animation: image-slide-enter 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both; */
  justify-content: flex-end;
  animation-duration: 1s;
  animation-name: image-slide-enter;
}

@keyframes image-slide-enter {
  from {
    /* -webkit-transform: translateX(-1000px) scaleY(2.5) scaleX(0.2); */
    transform: translateX(-1000px);
    /* -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%; */
    -webkit-filter: blur(40px);
    /* margin-left: 100%;
        width: 300%; */
    filter: blur(40px);
  }

  to {
    /* margin-right: 0%;
        width: 100%; */
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    /* -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%; */
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

.header__imagecontainer--image {
  /* background-image: url(/img/mischero.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 75% center;
    width: 100%;
    animation: image-width-adjust 1s ease 1.5s forwards; */
}

@keyframes image-width-adjust {
  from {
    width: 100%;
  }

  to {
    width: 50%;
  }
}

.header__imagecontainer--text {
  /* animation: container-flex-adjust 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both; */
  width: 0%;
  color: black;
  opacity: 0;
  align-self: center;
  text-align: center;

  animation: text-width-adjust 1.5s ease 2.25s forwards;
}

@keyframes text-width-adjust {
  0% {
    width: 0%;
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    width: 50%;
    opacity: 1;
  }
}
