body {
  font-family: "Montserrat";
  height: 100%;
}

.testback {
  background-image: linear-gradient(to right, #0e5c8f, #3cc9e9) !important;
}

.homepage {
  height: 100%;
  margin: 0;
}

.background {
  background-image: url(background.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
}

.background h1 {
  padding-top: 350px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.background h1:hover {
  cursor: pointer;
}

.background p:hover {
  cursor: pointer;
}

.background p {
  text-align: center;
  color: rgb(255, 255, 255);
}

.transformtext {
  transition: transform 1s;
  transform: translateY(200px);
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(44, 42, 42);
  width: 100%;
  height: 50px;
  z-index: 2;
}

.navigation ul {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  z-index: inherit;
}

.navigation li {
  border: 1px solid red;
  list-style-type: none;
  font-size: 24px;
  padding: 10px;
  z-index: inherit;
}

.navigation li a:link,
a:visited {
  color: white;
  text-decoration: none;
}

.navigation li:hover {
  background-color: rgba(155, 155, 155, 0.493);
}

/* Mobile Collapse Menu */

#mobilemenu {
  display: none;
  color: white;
}

#mobilemenu:hover {
  cursor: pointer;
}

/* Responsive Rules */

@media screen and (max-width: 800px) {
  .navigation li {
    display: none;
  }

  #mobilemenu {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .navigation ul {
    display: block;
    padding: 0;
  }

  .navigation.expanded {
    height: auto;
  }

  .navigation li.expanded {
    display: block;
    font-size: 5vw;
  }
}

#photogroup1 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
  margin: 100px 25px 15px 25px;
}

#photogroup1 img {
  border: 5px solid #b98c52;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.zionphotos img:hover {
  cursor: pointer;
}

.grid1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
}

.grid2 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 5;
}

.grid3 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}

.grid4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 9;
}

.grid5 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 9;
}

/* Image Block 2 */

#photogroup2 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
  margin: 0 25px 0 25px;
}

#photogroup2 img {
  border: 5px solid #6a84a2;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gridalt1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gridalt2 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gridalt3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 9;
}

.gridalt4 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 9;
}

.gridalt5 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 9;
}

/*
.small {
flex-basis: 45vh;
flex-grow: 1;
border: 1px solid blue;
}

.large {
flex-basis: 55vh;
flex-grow: 3;
}
*/

/* simplify. make three images across a single row, then make the middle image grow to 2x the time of the others. Middle image is showcase. */

/* modal testing */

.modal {
  /* The Modal (background) */
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 70vw;
  max-width: 95vw;
  border-radius: 5px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.modalclose {
  position: absolute;
  top: 55px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modalclose:hover,
.modalclose:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
    padding-top: 100px;
  }
}

/* Cecret lake panel styling */

/* .lakepage {
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  } */

.lakebody {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background: #6b0f9c;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.panel:hover {
  cursor: pointer;
}

.panel1 {
  background-image: url(photos/comptest/left.jpg);
}
.panel2 {
  background-image: url(photos/comptest/leftmiddle.jpg);
}
.panel3 {
  background-image: url(photos/comptest/center.jpg);
}
.panel4 {
  background-image: url(photos/comptest/rightmiddle.jpg);
}
.panel5 {
  background-image: url(photos/comptest/right.jpg);
}

/* Flex Items */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The translate properties below should be modified
  so that the text is only visible when the panel is minimized. */
.panel > *:first-child {
  transform: translateY(0);
}
.panel.open-active > *:first-child {
  transform: translateY(-100%);
}
.panel > *:last-child {
  transform: translateY(100);
}
.panel.open-active > *:last-child {
  transform: translateY(100%);
}

.panel p {
  text-transform: uppercase;
  font-family: "Montserrat", cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  flex: 5;
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  .panel p {
    font-size: 1em;
  }
}

/* PhotoSwipe */

.gallery-container {
  padding-top: 60px !important;
}

.my-simple-gallery {
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  column-count: 3;
  column-gap: 16px;
  margin: 0 30px 0 30px;
  padding: 0;
}

.my-simple-gallery img {
  max-width: 100%;
  width: auto;
  height: auto;
  border-radius: 7px;
  border: 2px blue solid;
  margin: 8px 0 8px 0;
  padding: 0;
}

.my-simple-gallery figure {
  float: left;
  padding: 0;
  margin: 0;
}

.my-simple-gallery figcaption {
  display: none;
}
