.background {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url(../img/bg.jpg);
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-flow: column;
  filter: brightness(20%);
  background-blend-mode: multiply;
  background-color: rgb(36, 104, 250);
  -webkit-animation: blend-shift 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    forwards;
  animation: brightness-increase 3s ease forwards;
  /* -webkit-animation: blend-shift 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    forwards;
  animation: blend-shift 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; */
}

@keyframes brightness-increase {
  from {
    filter: brightness(20%);
  }
  to {
    filter: none;
  }
}

/* Global Navigation Styling */
.hero__nav {
  -webkit-animation: nav-spread 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: nav-spread 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  justify-content: space-evenly;
  align-self: flex-start;
  padding-top: 0.5em;
  display: flex;
  align-items: center;
  text-align: center;
}

@keyframes nav-spread {
  0% {
    width: 50%;
    opacity: 0.5;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

.hero__nav a:visited {
  color: white;
}

.hero__nav a:hover {
  transform: scale(1.05);
  color: rgb(190, 190, 190);
}

.hero__nav a:active {
  color: rgb(124, 124, 124);
}

.hero__nav--current {
  border-bottom: 4px solid rgba(255, 255, 255, 0.651);
}

.hero__nav a {
  text-decoration: none;
  font-size: 1.25em;
  transition: all 300ms ease;
}

/* .background {
} */

/* @media screen and (max-width: 1500px) {
  .background {
    background-image: url(../img/bg-2080.jpg);
  }
}

@media screen and (max-width: 800px) {
  .background {
    background-image: url(../img/bg-1040.jpg);
  }
}

@media screen and (min-width: 1400px) {
  .background {
    margin: -2.5vw -6.5vw -6.5vw -6.5vw;
  }
} */

.background__container {
  flex: 1;
  text-align: center;
  padding-top: 3em;
  color: rgb(89, 214, 245);
  font-size: 2vh;
}

.background__title {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -1.25rem;
  -webkit-filter: blur(12px);
  filter: blur(12px);
  opacity: 0;
  mix-blend-mode: soft-light;
  -webkit-animation: focus-in-expand 2.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    forwards;
  animation: focus-in-expand 2.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* @keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
    color: rgb(231, 33, 33);
  }
  100% {
    -webkit-filter: blur(0px);
    letter-spacing: 0.25em;
    filter: blur(0px);
    opacity: 1;
    transform: translateY(100px);
    color: rgb(48, 66, 226);
  }
} */

@keyframes focus-in-expand {
  0% {
    font-size: 4rem;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
    mix-blend-mode: soft-light;
  }

  50% {
    mix-blend-mode: soft-light;
  }

  100% {
    font-size: 7rem;
    letter-spacing: -0.5rem;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
    mix-blend-mode: screen;
  }
}
