.background {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  /* url(../img/bg.jpg); */
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-flow: column;
  color: white;

  -webkit-animation: blend-shift 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    forwards;
  animation: blend-shift 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes blend-shift {
  0% {
    background-blend-mode: normal;
  }
  /* 
      50% {
        letter-spacing: -0.2em;
        -webkit-filter: blur(6px);
        filter: blur(6px);
        opacity: 0, 5;
        mix-blend-mode: luminosity;
      } */

  100% {
    background-blend-mode: multiply;
    background-color: rgba(0, 128, 255, 0.719);
  }
}

/* .background {
} */

/* @media screen and (max-width: 1500px) {
  .background {
    background-image: url(../img/bg-2080.jpg);
  }
}

@media screen and (max-width: 800px) {
  .background {
    background-image: url(../img/bg-1040.jpg);
  }
}

@media screen and (min-width: 1400px) {
  .background {
    margin: -2.5vw -6.5vw -6.5vw -6.5vw;
  }
} */

.background__container {
  flex: 1;
  text-align: center;

  padding-top: 3em;
  color: rgb(231, 33, 33);
  font-size: 2vh;
}

.background__title {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -1.25rem;
  -webkit-filter: blur(12px);
  filter: blur(12px);
  opacity: 0;

  mix-blend-mode: soft-light;
  -webkit-animation: focus-in-expand 2.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    forwards;
  animation: focus-in-expand 2.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

/* @-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
    color: rgb(231, 33, 33);
  }
  100% {
    -webkit-filter: blur(0px);
    letter-spacing: 0.25em;
    filter: blur(0px);
    opacity: 1;
    transform: translateY(100px);
    color: rgb(48, 66, 226);
  }
} */

@keyframes focus-in-expand {
  0% {
    font-size: 4rem;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
    mix-blend-mode: soft-light;
  }

  50% {
    mix-blend-mode: soft-light;
  }

  100% {
    font-size: 7rem;
    letter-spacing: -0.5rem;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
    mix-blend-mode: screen;
  }
}
