/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

html {
  background: rgb(216, 216, 216);
}

.misc-nav {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-item-align: start;
  align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 0.5em;
}

.misc-nav a:visited {
  color: black;
}

.misc-nav a:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  color: rgb(131, 131, 131);
}

.misc-nav a:active {
  color: rgb(124, 124, 124);
}

.misc-nav-current {
  border-bottom: 4px solid rgba(0, 0, 0, 0.651);
}

.misc-nav a {
  color: black;
  text-decoration: none;
  font-size: 1.25em;
  opacity: 0;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-animation: nav-ease-in 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
    forwards;
  animation: nav-ease-in 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@-webkit-keyframes nav-ease-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes nav-ease-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 400px) {
  .misc-nav a {
    font-size: 1em;
  }
}

.misc-textwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 1em 5em;
  opacity: 0;
  -webkit-animation: text-appear 1s ease-in 1.5s forwards;
  animation: text-appear 1s ease-in 1.5s forwards;
}

@-webkit-keyframes text-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes text-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .misc-textwrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }

  .misc-textwrapper p {
    margin-top: 1em;
  }
}

@media only screen and (min-width: 800px) {
  .misc-textwrapper p {
    max-width: 35%;
  }
}

.misc-textwrapper h1 {
  margin: 5px 1em 0 0;
  font-size: 2em;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.misc-textwrapper p {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 1em;
  margin-right: 1em;
}

/* Full Page Master Flexbox */
.flex-masterwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 72vh;
  margin-top: 2em;
  opacity: 0;
  -webkit-animation: gallery-appear 750ms ease-in 600ms forwards;
  animation: gallery-appear 750ms ease-in 600ms forwards;
}

@-webkit-keyframes gallery-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes gallery-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Child Images Should Obey Container's Sizing */
.test-img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.test-img:active {
  opacity: 0.3;
}

.test-img:hover {
  opacity: 0.85;
}

/* First Flexbox Column Styles */
.flex-col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0.5em 0 1.5em 3em;
}
/* First Column Div Sizing */
.flex-col-1 > div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0.5em 0.5em 0.5em 0;
  max-height: calc(33.33% - 1em);
}

/* Second Flexbox Column Styles */
.flex-col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0.5em 3em 2em 0;
}

/* Second Column Large Sizing */
.col-2-top {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0.5em 0 0.5em 0.5em;
}

.col-2-bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 33.33%;
}

/* Bottom Row Small Div Sizing */
.col-2-bottom-row div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0.5em 0.5em 0 0.5em;
}

.col-2-bottom-row div:last-child {
  margin-right: 0;
}

/* .image-responsive {
  border: 3px solid #ddd;
  width: 100%;
  border-radius: 4px;
  -webkit-box-shadow: 5px 5px 24px -6px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 5px 5px 24px -6px rgba(0, 0, 0, 0.73);
  box-shadow: 5px 5px 24px -6px rgba(0, 0, 0, 0.73);
} */

/* .image-responsive:hover {
  border-color: #9ad3de;
} */
/* 
@media only screen and (min-width: 1300px) {
  #gallery-container {
    max-height: 100vh;
  }
  .image-responsive {
  }

  .galleryimg {
    margin: 20px 5vw 20px 5vw;
  }
  .gallerytext p {
  }
} */

/* @keyframes container-flex-adjust {
  from {
    flex: 0 0 0;
    opacity: 0;
  }

  to {
    flex: 1;
    opacity: 1;
  }
} */

/* 
@keyframes image-slide-enter {
  0% {
    -webkit-transform: translateX(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateX(-1000px);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  50% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }

  100% {

  }
} */
