@import url("https://fonts.googleapis.com/css?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  font-family: "Montserrat";
  margin: 0;
}

@media only screen and (max-width: 700px) {
  body {
    font-size: 0.8em;
  }

  .hero__nav a {
    padding: 0.5em;
    border-left: 1px solid #9e9e9e;
  }

  .hero__nav a:first-child {
    border-left: none;
  }
}

.github-icon {
  color: white;
}

.hero__textContainer {
  margin: auto;
  text-decoration: none;
}

.hero__buttonContainer {
  display: flex;
  flex-flow: column;
}

.hero_scrollContainer a,
p {
  text-decoration: none;
  font-size: 1.25em;
  margin: 0.25em;
}

/* lightgallery styling */
/* 
.gallerytext p {
  margin: 12vh 0 0 0;
  padding: 0 10vw 0 10vw;
  text-align: center;
  font-size: 3vw;
} */

@media only screen and (min-width: 1024px) {
  .gallerytext p {
    font-size: 2.5vw;
  }
}

#gallery-container {
  padding: 2vh 0 0 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.galleryimg {
  justify-self: center;
  margin: 20px;
  max-width: 296px;
  width: 32vw;
}
